PORT=3000
ADMIN_USER=admin
ADMIN_PASSWORD=SoloEmpleos2026!
JWT_SECRET=cambiar_esto_por_string_aleatorio_largo_minimo_32_chars
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=contacto@tudominio.com
SMTP_PASS=tu_password_smtp
EMAIL_DESTINO=contacto@tudominio.com
